#input{
    font-size: 30px;
    margin-top: 25px;
    margin-left: 800px;
}

select.goog-te-combo{
    /* width: 50px; */
    padding: 8px 8px;
    width: 200px;
    text-align: center;
}


    p.heading{
        margin-top: 20px;
        
    }
    
    button.sc-gtsrHT.hJsuRW{
        margin-top: 15px;
        padding: 10px 25px;
    }

    a.sc-kEqXSa.fxZPjb{
        margin-top: 12px;
        font-size: 25px;
    }