#head{
    width: 44%;
    margin-left: 557px;
    margin-top: 86px;
}

.card-text{
    font-size: 27px;
}

.btn-btn-primary{
    width: 115px;
}
.form-control{
    font-size: 21px;
    margin-bottom: 20px;
}
#hj{
    width: 115px;
}